Уважаемый(ая) #{@order.name}

Администрация магазина Balalayka благодарит Вас за недавний заказю.

Вы заказали следующий товар:

= render @order.line_items

Когда Ваш заказ будет отправлен, мы пошлем Вам по эллектронной почте отдельное сообщение.