%h3 Заказ из Balalayka Заказы отправлен
%p
  Это сообщение уведомляет Вас, что мы отправили ваш недавний заказ:

%table
  %tr
    %th{:colspan => "2"}
      К-во
    %th
      Описание
 = render @order.line_items